<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет, я автор</h1>
  <p>
    <br>Тут я размещу информацию о себе используя свои умения верстать.
    <br>Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста.
    <br>Только чуть позже, а то у меня был большой перерыв в учёбе. И я очень хочу востановить пробелы в знаниях, но и успеть вовремя.
    <br>Так что, в это самое время "... кто-то допиливает проект".
  </p>
{% endblock %}